<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>movimentações</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/png" th:href="@{/imagem/heraldica.ico}"/>
</head>
<body>
<div class="panel panel-default">
    <div th:replace="header :: header" ></div>
    <div class="panel-heading">
        <strong>movimentações</strong>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-sm table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th>Equipamento/Software</th>
                    <th>Modelo</th>
                    <th>OM Origem</th>
                    <th>OM Destino</th>
                    <th>Militar Solicitante</th>
                    <th>Militar Cedente</th>
                    <th>Recebedor da Devolução</th>
                    <th>Data Solicitação</th>
                    <th>Data Empréstimo</th>
                    <th>Data Devolução</th>
                    <th>MSG Solicitação</th>
                    <th>MSG Devolução</th>
                    <th>Empréstimo</th>
                    <th>Devolução</th>
                </tr>
                </thead>
                <tbody>
                <div th:switch="${cessoes}">
                    <h2 th:case="null">Sem resgistros na tabela</h2>
                    <div th:case="*">
                        <tr th:each="cessao : ${cessoes}">
                            <td th:text="${cessao.bem.nome}"></td>
                            <td th:text="${cessao.bem.modelo != null ? cessao.bem.modelo.nome : ''}"></td>
                            <td th:text="${cessao.oMOrigem.nome}"></td>
                            <td th:text="${cessao.oMDestino != null ? cessao.oMDestino.nome : ''}"></td>
                            <td th:text="${cessao.solicitante != null ? cessao.solicitante.username : ''}"></td>
                            <td th:text="${cessao.cedente != null ? cessao.cedente.username : ''}"></td>
                            <td th:text="${cessao.recebedor != null ? cessao.recebedor.username : ''}"></td>
                            <td th:text="${#dates.format(cessao.dataSolicitacao, 'dd/MM/yyyy')}"></td>
                            <td th:text="${#dates.format(cessao.dataCessao, 'dd/MM/yyyy')}"></td>
                            <td th:text="${#dates.format(cessao.dataRecebimento, 'dd/MM/yyyy')}"></td>
                            <td th:text="${cessao.msgSolicitacao}"></td>
                            <td th:text="${cessao.msgDevolucao}"></td>
                            <td>
                                <form action="#" th:if="${#authentication.getPrincipal().getOM() == cessao.oMOrigem.nome && cessao.cedente == null}" th:action="@{/cessaoMV/ceder/{id}(id=${cessao.id})}" th:method="put">
                                    <button type="submit" class="btn btn-sm btn-success" >Emprestar</button>
                                </form>
                            </td>
                            <td>
                                <form action="#" th:if="${#authentication.getPrincipal().getOM() == cessao.oMOrigem.nome && cessao.recebedor == null && cessao.cedente != null}" th:action="@{/cessaoMV/receber/{id}(id=${cessao.id})}" th:method="put">
                                    <button type="submit" class="btn btn-sm btn-primary" >Devolver</button>
                                </form>
                            </td>
                        </tr>
                    </div>
                </div>
                </tbody>
            </table>
            <span th:text="${#lists.size(cessoes)}"/>
        </div>
    </div>
</div>
</body>
</html>