<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>equipamentos</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/png" th:href="@{/imagem/heraldica.ico}"/>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>equipamentos</strong>
    </div>
    <div class="panel-footer">
        <div th:replace="header :: header" ></div>
        <a class="btn btn-sm btn-success" th:href="@{/equipamentoMV/add/}" >Novo Equipamento</a>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-sm table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>NºPatrimonial</th>
                    <th>Preço</th>
                    <th>OM Proprietária</th>
                    <th>Modelo</th>
                    <th>Cedido à</th>
                    <th>Nºde Série</th>
                    <th>Avariado</th>
                    <th>Solicitação</th>
                    <th>Edição</th>
                </tr>
                </thead>
                <tbody>
                    <div th:switch="${equipamentos}">
                        <h2 th:case="null">Sem resgistros na tabela</h2>
                        <div th:case="*">
                            <tr th:each="equipamento : ${#lists.sort(equipamentos, equipamentosNome)}">
<!--                                Filtrar Cessão por OMOrigem/OMDestino-->
<!--                                <div th:if="${#authentication.getPrincipal().getOM() != equipamento.om.nome}">-->
                                <td th:text="${equipamento.nome}"></td>
                                <td th:text="${equipamento.numeroPatrimonial}"></td>
                                <td th:text="${equipamento.precoUnitario}"></td>
                                <td th:text="${equipamento.oM.nome}"></td>
                                <td th:text="${equipamento.modelo.nome}"></td>
                                <td th:text="${equipamento.cessao != null ? equipamento.cessao.oMDestino.nome : ''}"></td>
                                <td th:text="${equipamento.numeroDeSerie}"></td>
                                <td th:text="${equipamento.avariado?'Sim':'Não'}"></td>
                                <td>
                                    <form action="#" th:if="${#authentication.getPrincipal().getOM() != equipamento.oM.nome && equipamento.cessao == null}" th:action="@{/cessaoMV/solicitar/{cessao.bem.id}(cessao.bem.id=${equipamento.id})}" th:method="post">
                                        <button type="submit" class="btn btn-sm btn-success" >Solicitar</button>
                                    </form>
                                    <div  th:if="${#authentication.getPrincipal().getOM() != equipamento.oM.nome && equipamento.cessao != null}">
                                        <span >Indisponível</span>
                                    </div>
                                </td>
                                <td>
                                    <form action="#" th:if="${#authentication.getPrincipal().getOM() == equipamento.oM.nome}" th:action="@{/equipamentoMV/update/{id}(id=${equipamento.id})}" th:method="put">
                                        <button type="submit" class="btn btn-sm btn-primary" >Editar</button>
                                    </form>
                                </td>
                            </tr>
                        </div>
                    </div>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">Totalizador</td>
                        <td th:text="${#numbers.formatCurrency(#aggregates.sum(equipamentos.![precoUnitario]))}">R$ 180,00</td>
                    </tr>
                </tfoot>
            </table>
            <span th:text="${#lists.size(equipamentos)}"/>
        </div>
    </div>
</div>
</body>
</html>