<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>cessoes</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/png" th:href="@{/imagem/heraldica.ico}"/>
</head>
<body>
    <div class="panel panel-default">
        <div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" th:href="@{/dashboard}">SisCoEp</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" th:if="${#authorization.expression('isAuthenticated()')}">
                        <li th:classappend="${module == 'home' ? 'active' : ''}">
                            <a href="#" th:href="@{/cessaoMV/retrieve/}">Empréstimo</a>
                        </li>
                        <li th:classappend="${module == 'tasks' ? 'active' : ''}">
                            <a href="#" th:href="@{/licencaMV/retrieve/}">Licença</a>
                        </li>
                        <li th:classappend="${module == 'tasks' ? 'active' : ''}">
                            <a href="#" th:href="@{/equipamentoMV/retrieve/}">Equipamento</a>
                        </li>
                        <li th:classappend="${module == 'tasks' ? 'active' : ''}">
                            <a href="#" th:href="@{/fabricanteMV/retrieve/}">Fabricante</a>
                        </li>
                        <li th:classappend="${module == 'tasks' ? 'active' : ''}">
                            <a href="#" th:href="@{/modeloMV/retrieve/}">Modelo</a>
                        </li>
                        <ul class="nav navbar-nav" th:if="${#authorization.expression('hasAuthority(''administrador'')')}">
                            <li th:classappend="${module == 'tasks' ? 'active' : ''}">
                                <a href="#" th:href="@{/omMV/retrieve/}">OM</a>
                            </li>
                            <li th:classappend="${module == 'tasks' ? 'active' : ''}">
                                <a href="#" th:href="@{/roleMV/retrieve/}">Permissão</a>
                            </li>
                            <li th:classappend="${module == 'tasks' ? 'active' : ''}">
                                <a href="#" th:href="@{/userMV/retrieve/}">Usuário</a>
                            </li>
<!--                            <li th:classappend="${module == 'tasks' ? 'active' : ''}">-->
<!--                                <a href="#" th:href="@{/swagger-ui.html}" target="_blank">Documentação</a>-->
<!--                            </li>-->
                        </ul>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li th:if="${#authorization.expression('!isAuthenticated()')}">
                            <a href="/login" th:href="@{/login}">
                                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Login
                            </a>
                        </li>
                        <li th:if="${#authorization.expression('isAuthenticated()')}">
                            <a href="/logout" th:href="@{/logout}" onclick="$('#form').submit();">
                                <span th:text ="${#authentication.getPrincipal().getUsername()}"></span>
                                <span th:text ="${#authentication.getPrincipal().getOM()}"></span>
<!--                                <span th:text="${#authentication.getPrincipal().authorities}"></span>-->
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
                            </a>
                            <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>