<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de licenças</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/png" th:href="@{/imagem/heraldica.ico}"/>
</head>
<body>
<div class="panel panel-default">
    <div th:replace="header :: header" ></div>
    <div class="panel-heading">
        <strong>Cadastro de licenças</strong>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" th:object="${licenca}" th:action="@{/licencaMV/create}" method="POST" style="margin: 10px">
            <div class="form-group">
                <fieldset>
                    <div class="form-group row">
                        <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                            <div th:each="detailedError : ${#fields.detailedErrors()}">
                                <span th:text="${detailedError.message}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <input type="hidden" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
                            <label>Nome</label>
                            <input type="text" class="form-control input-sm" th:field="*{nome}" cols="5" rows="5" placeholder="Informe o nome"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('numeroPatrimonial')}? 'has-error'">
                            <label>Número Patrimonial</label>
                            <input type="text" class="form-control input-sm" th:field="*{numeroPatrimonial}" cols="5" rows="5" placeholder="Informe o número patrimonial"></textarea>
                        </div>
                    </div>
                    <!--                    <div class="form-group row">-->
                    <!--                        <div class="col-md-4" th:classappend="${#fields.hasErrors('unidadeFuncional')}? 'has-error'">-->
                    <!--                            <label>Unidade Funcional</label>-->
                    <!--                            <input type="text" class="form-control input-sm" th:field="*{unidadeFuncional}" cols="5" rows="5" placeholder="Informe a unidade funcional"></textarea>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="form-group row">-->
                    <!--                        <div class="col-md-4" th:classappend="${#fields.hasErrors('precoUnitario')}? 'has-error'">-->
                    <!--                            <label>Preço Unitário</label>-->
                    <!--                            <input type="text" class="form-control input-sm" th:field="*{precoUnitario}" cols="5" rows="5" placeholder="Informe o preço unitário"></textarea>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('oM')}? 'has-error'">
                            <label>OM Proprietária</label>
                            <select class="form-control input-sm" th:field="*{oM}" cols="5" rows="5">
                                <option
                                        th:each="oM: ${oMs}"
                                        th:value="${oM.id}"
                                        th:text="${oM.nome}" ></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3" th:classappend="${#fields.hasErrors('modelo')}? 'has-error'">
                            <label>Modelo</label>
                            <select class="form-control input-sm" th:field="*{modelo}" cols="5" rows="5">
                                <option
                                        th:each="modelo: ${modelos}"
                                        th:value="${modelo.id}"
                                        th:text="${modelo.nome}" ></option>
                            </select>
                        </div>
                        <div class="col-md-1" >
                            <label>Modelo</label>
                            <a class="btn btn-sm btn-primary" th:href="@{/modeloMV/add/}" >Modelo</a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('numero')}? 'has-error'">
                            <label>Nºda Licença</label>
                            <input type="text" class="form-control input-sm" th:field="*{numero}" cols="5" rows="5" placeholder="Informe o Nºda Licença"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2" th:classappend="${#fields.hasErrors('validade')}? 'has-error'">
                            <label>Validade</label>
                            <input type="date" class="form-control input-sm" th:field="*{validade}"/>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
                <a th:href="@{/licencaMV/retrieve}" class="btn btn-sm btn-default">Cancelar</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>