<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de modelos</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/png" th:href="@{/imagem/heraldica.ico}"/>
</head>
<body>
<div class="panel panel-default">
    <div th:replace="header :: header" ></div>
    <div class="panel-heading">
        <strong>Cadastro de modelos</strong>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" th:object="${modelo}" th:action="@{/modeloMV/create}" method="POST" style="margin: 10px">
            <div class="form-group">
                <fieldset>
                    <div class="form-group row">
                        <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                            <div th:each="detailedError : ${#fields.detailedErrors()}">
                                <span th:text="${detailedError.message}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <input type="hidden" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
                            <label>Nome</label>
                            <input type="text" class="form-control input-sm" th:field="*{nome}" cols="5" rows="5" placeholder="Informe o nome"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('versao')}? 'has-error'">
                            <label>Versão</label>
                            <input type="text" class="form-control input-sm" th:field="*{versao}" cols="5" rows="5" placeholder="Informe o versão"></input>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3" th:classappend="${#fields.hasErrors('fabricante')}? 'has-error'">
                            <label>Fabricante</label>
                            <select class="form-control input-sm" th:field="*{fabricante}" cols="5" rows="5">
                                <option
                                        th:each="fabricante: ${fabricantes}"
                                        th:value="${fabricante.id}"
                                        th:text="${fabricante.nome}" ></option>
                            </select>
                        </div>
                        <div class="col-md-1" >
                            <label>Fabricante</label>
                            <a class="btn btn-sm btn-primary" th:href="@{/fabricanteMV/add/}" >Novo</a>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-sm btn-success">Salvar</button>
                <a th:href="@{/modeloMV/retrieve}" class="btn btn-sm btn-default">Cancelar</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>