<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de solicitações</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/png" th:href="@{/imagem/heraldica.ico}"/>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Cadastro de solicitação</strong>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" th:object="${cessao}" th:action="@{/cessaoMV/solicitacao}" method="POST" style="margin: 10px">
            <div class="form-group">
                <fieldset>
                    <div class="form-group row">
                        <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                            <div th:each="detailedError : ${#fields.detailedErrors()}">
                                <span th:text="${detailedError.message}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <input type="hidden" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('bem')}? 'has-error'">
<!--                            <label>Bem</label>-->
                            <input type="hidden" class="form-control input-sm" id="bem" th:field="*{bem.id}" readOnly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('OMOrigem')}? 'has-error'">
<!--                            <label>OM Origem</label>-->
                            <input type="hidden" class="form-control input-sm" id="OMOrigem" th:field="*{OMOrigem.id}" readOnly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('OMDestino')}? 'has-error'">
<!--                            <label>Om Destino</label>-->
                            <input type="hidden" class="form-control input-sm" id="OMDestino" th:field="*{OMDestino.id}" readOnly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group row"n th:if="${solicitante != null}">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('solicitante')}? 'has-error'">
<!--                            <label>Militar Solicitante</label>-->
                            <input type="hidden" class="form-control input-sm" id="solicitante" th:field="*{solicitante.id}" readOnly="readonly"/>
                        </div>
                    </div>
<!--                    <div class="form-group row">-->
<!--                        <div class="col-md-4" th:classappend="${#fields.hasErrors('cedente')}? 'has-error'">-->
<!--                            <label>Militar Cedente</label>-->
<!--                            <input type="hidden" class="form-control input-sm" id="cedente" th:field="*{cedente}" readOnly="readonly"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group row">-->
<!--                        <div class="col-md-4" th:classappend="${#fields.hasErrors('recebedor')}? 'has-error'">-->
<!--                            <label>Militar Recebedor</label>-->
<!--                            <input type="hidden" class="form-control input-sm" id="recebedor" th:field="*{recebedor}" readOnly="readonly"/>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="form-group row">
                        <div class="col-md-2" th:classappend="${#fields.hasErrors('dataSolicitacao')}? 'has-error'">
                            <label>Data de Solicitação</label>
                            <input type="date" class="form-control input-sm" th:field="*{dataSolicitacao}" readOnly="readonly"/>
                        </div>
                    </div>
<!--                    <div class="form-group row">-->
<!--                        <div class="col-md-2" th:classappend="${#fields.hasErrors('dataCessao')}? 'has-error'">-->
<!--                            <label>Data de Devolução</label>-->
<!--                            <input type="date" class="form-control input-sm" th:field="*{dataCessao}" readOnly="readonly"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group row">-->
<!--                        <div class="col-md-2" th:classappend="${#fields.hasErrors('dataRecebimento')}? 'has-error'">-->
<!--                            <label>Data de Devolução</label>-->
<!--                            <input type="date" class="form-control input-sm" th:field="*{dataRecebimento}" readOnly="readonly"/>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('msgSolicitacao')}? 'has-error'">
                            <label>MSG de Solicitação</label>
                            <input type="text" class="form-control input-sm" th:field="*{msgSolicitacao}" cols="5" rows="5" placeholder="Informe o número da mensagem de solicitação no SIGDEM"></textarea>
                        </div>
                    </div>
<!--                    <div class="form-group row">-->
<!--                        <div class="col-md-4" th:classappend="${#fields.hasErrors('msgDevolucao')}? 'has-error'">-->
<!--                            <label>MSG de Devolução</label>-->
<!--                            <input type="text" class="form-control input-sm" th:field="*{msgDevolucao}" cols="5" rows="5" placeholder="Informe o número da mensagem de devolução no SIGDEM"></textarea>-->
<!--                        </div>-->
<!--                    </div>-->
                </fieldset>
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-sm btn-primary">Confirmar Solicitação</button>
                <a th:href="@{/cessaoMV/retrieve}" class="btn btn-sm btn-default">Cancelar</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>